In [151]:
import pandas as pd
import altair as alt 
import numpy as np
import datetime as dt
from datetime import timedelta

alt.data_transformers.enable("vegafusion")
alt.themes.enable("fivethirtyeight")

ThemeRegistry.enable('fivethirtyeight')

In [2]:
# Read in survey df 
def read_survey_df(): 
    df = pd.read_csv('/Users/ghazalin/NH_inspections_static/data/NH_SurveyDates_Sep2024.csv')
    df = df.rename(columns={'CMS Certification Number (CCN)':'CCN', 'Survey Date': 'survey_date','Type of Survey':'survey_type', 'Survey Cycle':'survey_cycle', 'Processing Date':'process_date'})
    return df 
survey_df = read_survey_df()

In [3]:
print(survey_df.head(5))

      CCN survey_date           survey_type  survey_cycle process_date
0  015009  2023-03-02      Health Complaint             2   2024-09-01
1  015009  2023-03-02       Health Standard             1   2024-09-01
2  015009  2023-02-15  Fire Safety Standard             1   2024-09-01
3  015009  2019-08-21  Fire Safety Standard             2   2024-09-01
4  015009  2019-08-21       Health Standard             2   2024-09-01

In [4]:
# Read in provider df 
def read_provider_df(): 
    df = pd.read_csv('/Users/ghazalin/NH_inspections_static/data/NH_ProviderInfo_Sep2024.csv', dtype={'ZIP Code':str})
    df = df.rename(columns={'CMS Certification Number (CCN)':'CCN','Provider Name':'provider_name','Provider Address':'provider_address','ZIP Code':'zip'})
    df = df[['CCN','provider_name','State','zip']]
    df['zip'] = df['zip'].astype(str)

    return df

provider_df = read_provider_df()

In [5]:
print(provider_df['zip'].str.len().value_counts())

zip
5    14817
Name: count, dtype: int64

In [6]:
def merge_survey_provider(survey_df, provider_df): 
    print('survey_df rows: ' + str(survey_df.shape[0]))
    print('provider_df rows: ' + str(provider_df.shape[0]))
    merge_df = pd.merge(survey_df, provider_df, how='left',on='CCN', indicator=True)
    print('survey_provider_df rows: ' + str(merge_df.shape[0]))
    print(merge_df['_merge'].value_counts())
    return merge_df

survey_provider_df = merge_survey_provider(survey_df, provider_df)

# CCN found for all providers

survey_df rows: 161369
provider_df rows: 14817
survey_provider_df rows: 161369
_merge
both          161369
left_only          0
right_only         0
Name: count, dtype: int64

In [7]:
def drop_fire_surveys(df): 
    df = df.loc[df['survey_type'].isin(['Fire Safety Standard','Fire Safety Complaint'])==0]
    print(df['survey_type'].value_counts())
    print(df.shape[0])
    return df 

drop_fire_surveys(survey_provider_df)

survey_type
Health Complaint     54456
Health Standard      44249
Infection Control    17878
Name: count, dtype: int64
116583

,CCN,survey_date,survey_type,survey_cycle,process_date,provider_name,State,zip,_merge
0,015009,2023-03-02,Health Complaint,2,2024-09-01,"BURNS NURSING HOME, INC.",AL,35653,both
1,015009,2023-03-02,Health Standard,1,2024-09-01,"BURNS NURSING HOME, INC.",AL,35653,both
4,015009,2019-08-21,Health Standard,2,2024-09-01,"BURNS NURSING HOME, INC.",AL,35653,both
6,015009,2018-08-01,Health Standard,3,2024-09-01,"BURNS NURSING HOME, INC.",AL,35653,both
7,015010,2023-08-30,Infection Control,2,2024-09-01,COOSA VALLEY HEALTHCARE CENTER,AL,35150,both
...,...,...,...,...,...,...,...,...,...
161361,745039,2023-06-20,Health Standard,1,2024-09-01,MIDTOWNE MEADOWS HEALTH AND REHAB,TX,76065,both
161362,745040,2023-10-13,Health Complaint,1,2024-09-01,THE SARAH ROBERTS FRENCH HOME,TX,78201,both
161363,745040,2023-10-13,Health Standard,1,2024-09-01,THE SARAH ROBERTS FRENCH HOME,TX,78201,both
161365,745040,2022-08-05,Health Standard,2,2024-09-01,THE SARAH ROBERTS FRENCH HOME,TX,78201,both
161368,745049,2024-06-21,Health Standard,1,2024-09-01,LAS ALTURAS NURSING & TRANSITIONAL CARE BROWNS...,TX,78521,both

In [8]:
# calculate time between September 1st 2024 (time of data collection) and last survey 
def identify_last_standard_survey(df): 
    """Identify the last standard survey for each nursing home"""
    df = df.loc[df['survey_type']=='Health Standard']
    df = df.sort_values(by=['CCN','survey_date'], ascending=False)
    print(df.shape[0]) # 44249, as it should be (total number of health standard surveys)
    df = df.drop_duplicates(subset=['CCN'], keep='first')
    print(df.shape[0]) # 14817, as it should be (total number of nursing homes) 
    return df 
    
last_standard_survey_df = identify_last_standard_survey(survey_provider_df)

44249
14817

In [9]:
test = last_standard_survey_df.sort_values(by=['survey_date'])
print(test.head(10))

          CCN survey_date      survey_type  survey_cycle process_date  \
54214  185169  2019-02-15  Health Standard             1   2024-09-01
54524  185237  2019-02-28  Health Standard             1   2024-09-01
53819  185029  2019-03-15  Health Standard             1   2024-09-01
53925  185087  2019-03-26  Health Standard             1   2024-09-01
55513  185449  2019-03-28  Health Standard             1   2024-09-01
55136  185348  2019-04-05  Health Standard             1   2024-09-01
55247  185378  2019-04-12  Health Standard             1   2024-09-01
54687  185264  2019-04-18  Health Standard             1   2024-09-01
53837  185042  2019-04-25  Health Standard             1   2024-09-01
54573  185246  2019-04-25  Health Standard             1   2024-09-01

                                           provider_name State    zip _merge
54214  SIGNATURE HEALTHCARE AT JEFFERSON MANOR REHAB ...    KY  40222   both
54524                       CHEROKEE PARK REHABILITATION    KY  40205   both
53819                            LOUISVILLE KY OPCO, LLC    KY  40203   both
53925      TWIN RIVERS NURSING AND REHABILITATION CENTER    KY  42301   both
55513                         KINGSBROOK LIFECARE CENTER    KY  41102   both
55136         SYCAMORE HEIGHTS HEALTH AND REHABILITATION    KY  40206   both
55247                        MASONIC HOME OF SHELBYVILLE    KY  40066   both
54687  LANDMARK OF DANVILLE REHABILITATION AND NURSIN...    KY  40422   both
53837  THE GRANDVIEW NURSING AND REHABILITATION FACILITY    KY  42719   both
54573        ROCKCASTLE HEALTH AND REHABILITATION CENTER    KY  40409   both

In [10]:
def NH_months_since_last_standard_survey(df): 
    
    df['survey_date'] = pd.to_datetime(df['survey_date'])
    df['process_date'] = pd.to_datetime(df['process_date'])
    df['date_diff'] = df['process_date'] - df['survey_date']
    df['months_since_survey'] = (df['process_date'] - df['survey_date']).dt.days/30
    df['months_overdue'] = ((((df['process_date'] - df['survey_date']).dt.days)/30)-15)
    df['overdue_ind'] = np.where(df['months_overdue']>1, 1, 0)
    print(df['months_overdue'].describe())
    print(df.head(10))
    df.to_csv('/Users/ghazalin/NH_inspections_static/OutputData/NH_months_since_last_standard_survey.csv')
    return df
    
NH_months_since_last_standard_survey = NH_months_since_last_standard_survey(last_standard_survey_df)

count    14817.000000
mean        -2.485679
std         10.779902
min        -14.666667
25%         -9.466667
50%         -5.066667
75%          0.066667
max         52.500000
Name: months_overdue, dtype: float64
           CCN survey_date      survey_type  survey_cycle process_date  \
161368  745049  2024-06-21  Health Standard             1   2024-09-01
161363  745040  2023-10-13  Health Standard             1   2024-09-01
161361  745039  2023-06-20  Health Standard             1   2024-09-01
161359  745038  2023-05-19  Health Standard             1   2024-09-01
161349  745022  2023-10-25  Health Standard             1   2024-09-01
161342  745021  2023-09-26  Health Standard             1   2024-09-01
161327  745019  2024-04-18  Health Standard             1   2024-09-01
161315  745017  2023-08-17  Health Standard             1   2024-09-01
161305  745007  2023-11-10  Health Standard             1   2024-09-01
161281  745006  2024-04-19  Health Standard             1   2024-09-01

                                            provider_name State    zip _merge  \
161368  LAS ALTURAS NURSING & TRANSITIONAL CARE BROWNS...    TX  78521   both
161363                      THE SARAH ROBERTS FRENCH HOME    TX  78201   both
161361                  MIDTOWNE MEADOWS HEALTH AND REHAB    TX  76065   both
161359      TIERRA ESTE NURSING AND REHABILITATION CENTER    TX  79938   both
161349                          WARE MEMORIAL CARE CENTER    TX  79101   both
161342                      LINDALE SPECIALTY CARE CENTER    TX  75771   both
161327              JAMES L WEST CENTER FOR DEMENTIA CARE    TX  76102   both
161315           THE LODGE OF SAGINAW HEALTH AND WELLNESS    TX  76179   both
161305           VERNON REHABILITATION AND NURSING CENTER    TX  76384   both
161281             FIVE POINTS NURSING AND REHABILITATION    TX  75115   both

       date_diff  months_since_survey  months_overdue  overdue_ind
161368   72 days             2.400000      -12.600000            0
161363  324 days            10.800000       -4.200000            0
161361  439 days            14.633333       -0.366667            0
161359  471 days            15.700000        0.700000            0
161349  312 days            10.400000       -4.600000            0
161342  341 days            11.366667       -3.633333            0
161327  136 days             4.533333      -10.466667            0
161315  381 days            12.700000       -2.300000            0
161305  296 days             9.866667       -5.133333            0
161281  135 days             4.500000      -10.500000            0

In [11]:
print(NH_months_since_last_standard_survey.shape[0])

14817

In [140]:
def prop_overdue_surveys(df): 
    df['NH_count'] = 1
    df_groupby = df.groupby(['State']).agg({'overdue_ind':'sum','NH_count':'sum'}).reset_index()
    df_groupby['prop_overdue'] = ((df_groupby['overdue_ind']/df_groupby['NH_count'])*100).astype(int)
    df_groupby = df_groupby.sort_values(by=['prop_overdue'])
    df_groupby['prop_overdue_%'] = df_groupby['prop_overdue'].astype(str) + '%'
    df_groupby['prop_<2%'] = df_groupby['prop_overdue'] < 2
    print(df_groupby['State'].loc[df_groupby['prop_<2%']==True].to_list())
    df_groupby = df_groupby.loc[df_groupby['prop_<2%']==False].copy()
    print(df_groupby.shape[0])
    return df_groupby
    
prop_overdue_surveys_df = prop_overdue_surveys(NH_months_since_last_standard_survey)

['AR', 'GU', 'IL', 'ND', 'MN', 'MI', 'LA', 'IN', 'NE', 'MT', 'OK', 'PA', 'PR', 'NM', 'NH', 'IA', 'NV', 'RI']
35

In [134]:
print(prop_overdue_surveys_df)

   State  overdue_ind  NH_count  prop_overdue prop_overdue_%  prop_<2%
2     AR            1       220             0             0%      True
11    GU            0         1             0             0%      True
15    IL            1       680             0             0%      True
29    ND            0        75             0             0%      True
24    MN            1       343             0             0%      True
23    MI            2       424             0             0%      True
19    LA            1       267             0             0%      True
16    IN            1       511             0             0%      True
30    NE            0       184             0             0%      True
27    MT            0        59             0             0%      True
37    OK            1       287             0             0%      True
39    PA            0       668             0             0%      True
40    PR            0         6             0             0%      True
33    NM            1        68             1             1%      True
31    NH            1        74             1             1%      True
13    IA            8       404             1             1%      True
34    NV            1        67             1             1%      True
41    RI            1        74             1             1%      True
12    HI            1        42             2             2%     False
52    WY            1        35             2             2%     False
50    WI           17       326             5             5%     False
8     DE            3        44             6             6%     False
49    WA           12       193             6             6%     False
43    SD            6        97             6             6%     False
20    MA           22       345             6             6%     False
45    TX           90      1185             7             7%     False
28    NC           32       419             7             7%     False
0     AK            2        20            10            10%     False
5     CO           32       211            15            15%     False
38    OR           21       128            16            16%     False
26    MS           35       202            17            17%     False
25    MO           99       492            20            20%     False
9     FL          141       696            20            20%     False
48    VT            8        34            23            23%     False
46    UT           23        98            23            23%     False
22    ME           23        80            28            28%     False
4     CA          337      1164            28            28%     False
17    KS           99       305            32            32%     False
10    GA          123       357            34            34%     False
3     AZ           51       142            35            35%     False
32    NJ          123       346            35            35%     False
42    SC           72       189            38            38%     False
14    ID           32        80            40            40%     False
7     DC            7        17            41            41%     False
51    WV           54       123            43            43%     False
35    NY          264       603            43            43%     False
36    OH          511       929            55            55%     False
6     CT          112       194            57            57%     False
44    TN          191       304            62            62%     False
47    VA          199       290            68            68%     False
1     AL          173       224            77            77%     False
21    MD          173       222            77            77%     False
18    KY          213       269            79            79%     False

In [158]:
# create a chart of proportion overdue surveys 
def prop_overdue_chart(): 
    prop_overdue_chart = alt.Chart(prop_overdue_surveys_df).mark_bar(color='#74372F').encode(alt.X('prop_overdue',title='',
                                                                                    axis=None),
                                                                              alt.Y('State', title='',
                                                                                    axis=alt.Axis(grid=False,labelFontSize=12, labelColor='black')).sort('-x')
                                                                             ).properties(title=alt.TitleParams(text='Percentage of Facilities Overdue for Inspection by State',
                                                                                         fontSize = 15),
                                                                                         width=400)
    percent_labels = prop_overdue_chart.mark_text(dx=-14, color='white', fontSize=14).encode(text='prop_overdue')
    # low_prop_states = 
    prop_overdue_chart = prop_overdue_chart + percent_labels
    prop_overdue_chart = prop_overdue_chart.configure_view(stroke=None)
    return prop_overdue_chart
prop_overdue_chart()
prop_overdue_chart().save('/Users/ghazalin/NH_inspections_static/images/prop_overdue_barchart.svg')

In [69]:
def average_months_overdue_by_state(df): 
    df['NH_count'] = 1 
    state_groupby = df.groupby(['State']).agg({'months_overdue':'sum','NH_count':'sum'}).reset_index()
    state_groupby['avg_months_overdue'] = state_groupby['months_overdue']/state_groupby['NH_count']
    return state_groupby
average_months_overdue_by_state(NH_months_since_last_standard_survey)

   State  months_overdue  NH_count  avg_months_overdue
0     AK      -99.400000        20           -4.970000
1     AL     3976.800000       224           17.753571
2     AR    -1681.000000       220           -7.640909
3     AZ     -163.933333       142           -1.154460
4     CA    -1783.566667      1164           -1.532274
5     CO    -1081.533333       211           -5.125750
6     CT      782.533333       194            4.033677
7     DC      -11.500000        17           -0.676471
8     DE     -245.866667        44           -5.587879
9     FL    -3127.300000       696           -4.493247
10    GA     -834.966667       357           -2.338842
11    GU       -3.733333         1           -3.733333
12    HI     -232.433333        42           -5.534127
13    IA    -2698.200000       404           -6.678713
14    ID      447.800000        80            5.597500
15    IL    -5095.333333       680           -7.493137
16    IN    -3610.000000       511           -7.064579
17    KS     -729.100000       305           -2.390492
18    KY     6924.566667       269           25.741884
19    LA    -2129.533333       267           -7.975780
20    MA    -2075.400000       345           -6.015652
21    MD     4940.433333       222           22.254204
22    ME     -240.733333        80           -3.009167
23    MI    -3313.500000       424           -7.814858
24    MN    -2663.200000       343           -7.764431
25    MO    -2052.733333       492           -4.172222
26    MS     -924.333333       202           -4.575908
27    MT     -394.266667        59           -6.682486
28    NC    -2367.333333       419           -5.649960
29    ND     -520.366667        75           -6.938222
30    NE    -1491.800000       184           -8.107609
31    NH     -541.733333        74           -7.320721
32    NJ     -734.266667       346           -2.122158
33    NM     -468.800000        68           -6.894118
34    NV     -532.600000        67           -7.949254
35    NY      439.733333       603            0.729243
36    OH     1691.933333       929            1.821241
37    OK    -1765.666667       287           -6.152149
38    OR     -208.133333       128           -1.626042
39    PA    -5077.433333       668           -7.600948
40    PR      -64.466667         6          -10.744444
41    RI     -549.733333        74           -7.428829
42    SC     -204.966667       189           -1.084480
43    SD     -564.533333        97           -5.819931
44    TN     2830.166667       304            9.309759
45    TX    -6493.300000      1185           -5.479578
46    UT     -308.400000        98           -3.146939
47    VA     1988.400000       290            6.856552
48    VT     -100.966667        34           -2.969608
49    WA    -1195.400000       193           -6.193782
50    WI    -2077.000000       326           -6.371166
51    WV     -144.066667       123           -1.171274
52    WY     -250.133333        35           -7.146667

In [ ]:
# How does proportion of NH overdue relate to